.topbarWrapper {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    box-sizing: border-box;
    background-color: #0F132D;
    color: white;
    font-family: 'Inter';
}

.topbarList {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-logo img {
    height: 45px;
}
.nav-item {
    margin: 0px 10px;
    position: relative;
}

.cartBadge {
    height: 20px;
    width: 20px;
    background-color: deeppink;
    border-radius: 50%;
    position: absolute;
    font-size: 12px;
    top: -8px;
    right: -8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

/* .nav-link {
    margin: 0px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.nav-link img {
    height: 45px;
}

.nav-link:hover {
    color: #20d34a !important;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    justify-content: center;
    align-items: center;
} */

.searchDiv {
    width: 70%;
    margin: 0px 20px;
    display: flex;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.searchDiv button{
    border: none;
    outline: none;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
}
.searchDiv input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
    background-color: transparent;
}
.searchDiv button svg{
    height: 17px;
    stroke: gray;
}

.dropdown-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.dropdown-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn {
    cursor: pointer;
    margin: 0px 10px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 60px;
    /* box-shadow: 0 2px 8px 0 #0096FF; */
    min-width: 180px;
    z-index: 999;
    border-radius: 7px;
    background-color: #272d54;
    right: 0px;
    color: white;
}

nav {
    background-color: rgb(255, 255, 255);
}

.links,
.links-hidden {
    display: inline-block;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
    color: rgb(233, 238, 255);
}

.links-hidden {
    display: block;
}

.links {
    display: inline-block;
}


.dropdown-menu:hover .menu-content {
    display: block;

}

.dropdown-menu:hover .menu-content1 {
    display: block;

}

.menu-content *{
    cursor: pointer;
}


.userSignInBtn {
    padding: 10px 30px;
    background: none;
    color: #0096FF;
    border: 1px solid #0096FF;
    border-radius: 7px;
    font-family: 'Inter';
    cursor: pointer;
    transition: 0.2s;
    margin: 0px 10px;
    text-decoration: none;
}

.userSignInBtn:hover {
    color: #37abff;
    border: 1px solid #37abff;
}

.dashboardBtn {
    padding: 10px 30px;
    background: none;
    color: #0096FF;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0px 10px;
    border: none;
    text-decoration: none;
}
.dashboardBtn:hover {
    color: #37abff;
}